
/*@media (min-width: 1200px) {
    .container {
        width: 960px !important;
    }
}

.carousel-control {
    width: 5% !important;
}

.pg-cover {
    width: calc(20% - 10px);
    margin: 5px;
    float: left
}

.pg-cover img {
    height: 200px;
    width: 100%
}

.fs-28 {
    font-size: 28px !important;
}

.fs-20 {
    font-size: 20px !important;
}

.fs-30 {
    font-size: 30px !important;
}

.fs-16 {
    font-size: 16px !important;
}

.fw-semi {
    font-weight: 600 !important;
}

.fw-regular {
    font-weight: 400 !important;
}

.fw-light {
    font-weight: 300 !important;
}

.container-fluid {
    padding: 0px;
}

:focus {
    outline: -webkit-focus-ring-color auto 0px;
    outline-color: -webkit-focus-ring-color;
    outline-style: auto;
    outline-width: 0px;
}

.navbar-brand {
    background: url('assets/images/svg/norev-logo.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 85px;
    background-position: 15px center;
    background-size: 70px;
}*/

.navbar-default .navbar-nav a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    background: transparent;
}

.navbar-default .navbar-nav a {
    padding: 10px 0px !important;
    margin: 15px;
    margin-top: 0px;
    position: relative;
    color: #fff !important;
    text-decoration: none;
}

.navbar-default .navbar-nav a:hover:before, .navbar-default .navbar-nav li.active a:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.navbar-default {
    background: transparent !important;
    color: #fff;
    border: 0px;
}

.navbar-brand {
    margin-left: 15px;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background: rgba(255, 255, 255, 0.53);
}

.container-fluid .container .title {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px;
    padding-top: 57.5px;
    padding-bottom: 35px;
}
/*
.box-shadow-effect1 {
    -webkit-box-shadow: 0px 2px 15px -3px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 2px 15px -3px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 2px 15px -3px rgba(0, 0, 0, 0.5);
}

.sub-sections {
    padding: 0px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    min-height: 274px;
}

.next-testimonial {
    align-self: center;
    height: 100%;
    width: 100%;
    color: gray;
    border-radius: 0px;
    font-size: -webkit-xxx-large;
    background: rgba(226, 227, 228, 0.22);
    border: 0px;
}

.CTA-2 {
    padding-top: 50px;
    padding-bottom: 60px;
}

.btn.square {
    padding: 15px;
    border-radius: 0px;
    border: 0px;
    box-shadow: 3px 3px 3px rgba(136, 136, 136, 0.35);
    font-size: 18px;
    min-width: 200px;
    flex-basis: auto;
    background: #00A1DF;
}

.light {
    letter-spacing: 1px;
    font-weight: 100;
}

.align-center {
    text-align: center;
}

.padding {
    padding: 15px;
}

.section-1 {
    padding: 50px 15px;
    text-align: center;
    padding-top: 224px;
}

.tag-line {
    flex-basis: auto;
}

.pale-black {
    color: #263238 !important;
    letter-spacing: 0.5px;
}

.tag-line span {
    padding: 15px;
    border: 2px solid #fff !important;
    cursor: pointer;
}

.tag-line span:hover {
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.6);
    border: 1px solid #fff;
}

.navbar-fixed-top {
    position: absolute;
}

.CTA-2 {
    padding-top: 50px;
    padding-bottom: 60px;
}

.CTA-2 h4 {
    margin-top: 0px;
    margin-bottom: 30px;
}

.section-1 {
    min-height: 680px;
    display: flex;
    flex-direction: column;
    background: url('assets/images/Banner-image_1400x-680.jpg');
    background-position: center;
    background-size: cover;
}

.section-1 .title {
    padding-bottom: 30px;
}

.banner-content .title {
    font-size: 36px;
}

.banner-content {
    color: #fff;
}

.banner-content a, .banner-content a:hover {
    color: #fff !important;
    text-decoration: none !important;
}

.navbar a {
    color: #fff;
}

.search-container {
    flex-basis: auto;
    width: 50%;
    margin: 0 auto;
    min-height: 100px;
    padding: 25px;
}

.section-2 {
    min-height: 260px;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
}

.section-2 .amenities-card {
    min-height: 100px;
    position: absolute;
    top: -50px;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#amenity-card {
    top: -90px;
    position: relative;
    min-height: 140px;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-2 .amenity-icon {
    width: 18% !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
    background-position: center !important;
    background-size: 30px 30px !important;
    background-position: center 5px !important;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
    min-height: 40px;
}

.amenity-icon.wifi {
    background: url('assets/images/svg/wi-fi-icon.svg');
}

.amenity-icon.housekeeping {
    background: url('assets/images/svg/housekeeping.svg');
}

.amenity-icon.lift {
    background: url('assets/images/svg/lift-icon.svg');
}

.amenity-icon.food {
    background: url('assets/images/svg/food-icon.svg');
}

.amenity-icon.cctv {
    background: url('assets/images/svg/cctv.svg');
}

.amenity-icon.tv {
    background: url('assets/images/svg/tv.svg');
}

.amenity-icon.wadrobe {
    background: url('assets/images/svg/cupboard.svg');
}

.amenity-icon.water {
    background: url('assets/images/svg/drinking-water-icon.svg');
}
*/
.section-2 .top .city-selector {
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: -50px;
    position: relative;
}/*

.search-icon {
    left: -5px;
    font-size: 14px;
}

.search-btn-text {
    font-family: 'Source Sans Pro', sans-serif;
    position: relative;
    font-size: 14px;
    letter-spacing: 1.5px;
}

.city-selector .btn-group {
    min-width: 300px;
}

.section-2 .top .city-selector p {
    font-size: 24px;
    margin-top: 13px;
}

.city-selector .btn-group .btn {
    padding: 10px;
    border-radius: 0px;
    border: 0px;
    box-shadow: 3px 3px 3px rgba(136, 136, 136, 0.35);
    letter-spacing: 1px;
}

.flex-column-center {
    display: flex;
    flex-direction: column;
    justify-content: center
}

.flex-row-center {
    display: flex;
    flex-direction: row;
    justify-content: center
}

.flex-column-space-around {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.flex-column-start {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.no-left-padding {
    padding-left: 0px;
}

.padding-2x {
    padding: 30px;
}

.btn-primary {
    background: #00A1DF;
    color: #fff;
}

.btn-outline {
    background: #fff;
    color: #7C7F82;
    border: 1px solid #7C7F82;
    border-radius: 0px;
}

.btn-outline:hover {
    color: #FFFFFF !important;
    text-decoration: none !important;
    background: #00A1DF !important;
}

.why-zelo .tile {
    display: flex;
    padding-top: 25px;
    flex-direction: column;
    background-repeat: no-repeat !important;
    justify-content: space-around;
}

.why-zelo .image {
    padding: 0px;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-color: #fff !important;
    background-size: 80px !important;
    width: 120px !important;
    border-radius: 50%;
    min-height: 120px;
    margin: 0 auto;
}

.why-zelo .image-1 {
    background: url('assets/images/svg/vibrant_community.svg');
}

.why-zelo .image-2 {
    background: url('assets/images/svg/shared_spaces.svg');
}

.why-zelo .image-3 {
    background: url('assets/images/svg/essential_services.svg');
}

.why-zelo .image-shared {
    background: url('assets/images/shared.jpg');
    background-size: cover!important;
}

.why-zelo .image-connected {
    background: url('assets/images/community.jpg');
    background-size: cover!important;
}

.why-zelo .image-convenient {
    background: url('assets/images/essentials.jpg');
    background-size: cover!important;
}

.why-zelo .footer-cta {
    text-align: center;
    min-height: 156px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px
}

.how-better {
    min-height: 980px;
    height: 980px;
}*/

.no-padding {
    padding: 0px;
}

.margin {
    margin: 15px;
}

.no-margin {
    margin: 0px;
}

.white-bg {
    background-color: #fff !important;
}

.black-bg {
    background-color: #000 !important;
    opacity: 0.8;
}

.blue-bg {
    background-color: #00A1DF !important;
    color: #fff !important;
}

.pale-bg {
    background-color: #263238 !important;
}
/*
#amenity-card .h4 {
    font-size: 18px;
    margin-top: 0px;
    font-weight: 600;
    margin-bottom: 17px;
}

.how-better section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
}

.how-better .move-in {
    min-height: 50%;
}

.how-better .image-1 {
    background: url('assets/images/hate_haggling.jpg');
    min-height: 340px;
    min-width: 510px;
    background-repeat: no-repeat;
    background-size: contain;
}

.how-better .image-2 {
    /*background: url('assets/images/After-you-move-in_575x383.jpg');
    background: url('assets/images/hate_dull_moments.jpg');
    min-height: 340px;
    min-width: 510px;
    background-repeat: no-repeat;
    background-size: contain;
}

.how-better .text {
    min-height: 300px;
    margin-top: 20px;
    background-color: #fff;
    z-index: 101;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 80px;
    line-height: 2em;
}

.how-better .text1 {
    margin-right: -75px;
    width: calc(50% + 45px);
    left: 0px !important;
}

.how-better .text2 {
    margin-left: -75px;
    width: calc(50% + 45px);
    left: 0px !important;
}

.testimonials {
    min-height: 573px;
}

.testimonials section {
    min-height: calc( 100% - 158px);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.testimonial-text {
    min-height: 50px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 15px;
    margin: 0px !important;
}

.testimonials .customer-image {
    background-repeat: no-repeat !important;
    background-size: contain !important;
    background-position: center!important;
    min-height: 150px !important;
}

.testimonials .customer-image.image1 {
    background: url('assets/images/testimonial-1.png');
}

.testimonials .customer-image.image2 {
    background: url('assets/images/testimonial-2.png');
}

.testimonials .customer-image.image3 {
    background: url('assets/images/testimonial-3.png');
}

.testimonials .tile {
    background-color: #f8f8f8;
}*/

.newsletter-form {
    min-height: 262px;
    display: flex;
    flex-direction: column;
    justify-content: center
}

.newsletter-form span.glyphicon.glyphicon-envelope {
    padding-right: 5px;
}

.customer-review-text {
    border-right: 1px solid #e2e3e4;
}

.footer {
    min-height: 500px;
}

.playstore-icon {
    background: url('assets/images/svg/google-play.svg');
    background-repeat: no-repeat;
    background-size: contain;
    height: 50px;
}

.footer a, .footer h4 {
    color: #fff !important;
    cursor: pointer;
}

.footer a {
    font-size: 16px;
    font-weight: 300;
}

.footer .section-top {
    border-bottom: 1px solid #e2e3e4;
}

.footer .social-links {
    min-height: 190px;
    padding: 45px 30px
}

.footer .social-links .icon {
    height: auto;
    width: 50px;
    background-repeat: no-repeat !important;
    background-position: left 5px;
    /* border: 1px solid #e2e3e4; */
    background-size: 20px;
    /* border-radius: 50%; */
    /* background-color: rgba(128, 128, 128, 0.27); */
    padding-left: 30px;
}

.icon.facebook {
    background: url('assets/images/svg/facebook_500.svg');
    background-size: 11px !important;
}

.icon.linkedin {
    background: url('assets/images/svg/linkedin_500.svg');
    background-position: left -1px !important;
}

.icon.twitter {
    background: url('assets/images/svg/twitter_500.svg');
    background-position: left 2px !important;
}

.footer .container {
    display: flex;
    flex-direction: column;
}

.before.move-in {
    margin-bottom: 45px;
}


/* Smartphones (portrait and landscape) ----------- */

@media only screen and (min-width: 320px) and (max-width: 767px) {
    /* Styles */
    .navbar-default {
        background: transparent !important;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background: #fff !important;
    }
    .navbar-brand {
        margin-left: 15px;
    }
    .banner-content {
        color: #fff;
        padding-top: 50px;
    }
    .container-fluid .container .title.h2 {
        font-size: 24px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
        background: rgba(255, 255, 255, 0.53);
    }
    .carousel-indicators {
        display: none !important;
    }
    .how-better .text {
        left: auto;
        right: auto;
        padding: 15px;
        margin-top: 0px;
        text-align: center !important;
        -webkit-box-shadow: 0px 2px 15px -3px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 0px 2px 15px -3px rgba(0, 0, 0, 0.5);
        box-shadow: 0px 2px 15px -3px rgba(0, 0, 0, 0.5);
    }
    .how-better section {
        justify-content: flex-start;
    }
    .how-better {
        min-height: 1550px;
        height: 1550px;
    }
    .how-better .image-1 {
        min-width: auto;
    }
    .how-better .image-2 {
        min-width: auto;
    }
    .testimonials {
        min-height: auto !important;
    }
    .section-1 {
        padding: 30px;
        padding-top: 50px;
        min-height: 300px;
        /*background: url('http://zelo.in/assets/svg/background-pattern.svg');*/
    }
    #navbar {
        background: rgba(0, 161, 223, 1);
    }
    .search-container {
        flex-basis: auto;
        width: 100%;
        margin: 0 auto;
        min-height: 100px;
        padding: 10px;
        padding-top: 0px;
    }
    .tag-line span {
        border: 0px;
        padding: 5px;
    }
    .section-2 .top .city-selector {
        position: relative;
        top: -60px;
    }
    .section-2 .top .city-selector p {
        font-size: 18px;
        margin-top: 30px;
    }
    .section-2 {
        min-height: 300px;
    }
    .how-better section {
        top: auto;
    }
    .before.move-in .content {
        display: flex;
        flex-direction: column-reverse;
    }
    .after.move-in .content {
        display: flex;
        flex-direction: column;
    }
    #amenity-card {
        position: relative;
        top: auto;
        min-height: 140px;
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 0px;
    }
    .section-2 .amenity-icon {
        width: 25% !important;
    }
    .know-more-btn {
        margin-top: 0px;
        height: 40px;
    }
    .section-2 .top .city-selector {
        top: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
    }
    .section-2 .amenity-icon p {
        display: none !important;
    }
    .testimonial-text {
        padding: 0 25px;
    }
    .testimonial-1 {
        padding: 0px !important;
    }
    .customer-review-text {
        border: 0px !important;
    }
    .customer-details {
        min-height: 240px;
        height: 240px;
        border: 1px solid rgba(226, 227, 228, 0.18)
    }
    .sub-sections {
        background: #fff;
        min-height: auto;
        padding: 15px;
        max-height: 110px;
    }
    .how-better .image-1, .how-better .image-2 {
        max-width: 100%;
        background-size: cover;
        background-position: center;
    }
    .how-better .text1 {
        width: 100%;
        left: 0px !important;
        margin: auto !important;
    }
    .how-better .text2 {
        width: 100%;
        left: 0px !important;
        margin: auto !important;
    }
    .customer-image {
        min-height: 380px !important;
    }
    .CTA-2 {
        min-height: 206px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .fs-28 {
        font-size: 20px;
    }
    .fs-20 {
        font-size: 16px;
    }
    .footer {
        min-height: 400px;
    }
    .footer .section-top {
        text-align: center;
    }
    .footer .container {
        flex-direction: column-reverse;
    }
    .footer .social-links {
        min-height: 150px;
        padding: 25px 0px;
    }
    .footer .social-links {
        min-height: 190px;
        padding: 45px 0px
    }
    /*.footer .social-links .icon {
        height: 50px !important;
        width: 50px !important;
        background-repeat: no-repeat !important;
        border: 1px solid #e2e3e4 !important;
        background-size: 30% !important;
        border-radius: 50% !important;
        background-color: rgba(128, 128, 128, 0.27) !important;
    }
    .icon.facebook {
        background: url('assets/images/svg/fb-icon.svg');
        border: 1px solid #e2e3e4;
        background-position: center !important;
    }   
    .icon.linkedin {
        background: url('assets/images/svg/linkedin-icon.svg');
        border: 1px solid #e2e3e4;
        background-position: center !important;
    }
    .icon.twitter {
        background: url('assets/images/svg/twitter-icon.svg');
        border: 1px solid #e2e3e4;
        background-position: center !important;
    }*/
}